<div class="app-bar fixed-top darcula" data-role="appbar" ng-controller="MenubarController">
    <!-- Branding -->
    <a class="app-bar-element branding" href="/">FS20</a>

    <!-- Divider between branding and menu elements -->
    <span class="app-bar-divider"></span>

    <!-- Menu elements -->
    <ul class="app-bar-menu">
        <li>
            <a class="dropdown-toggle">Räume</a>
            <ul class="d-menu" data-role="dropdown">
                <div ng-repeat="room in rooms">
                    <li>
                        <a ng-click="roomClicked(room)">{{ room.name }}</a>
                    </li>
                </div>
                
                <li class="divider"></li>
                <li><a>Neuen Raum hinzufügen</a></li>
                <li>
                    <a class="dropdown-toggle">Raum löschen</a>
                    <ul class="d-menu" data-role="dropdown">
                        <div ng-repeat="room in rooms">
                            <li>
                                <a ng-click="roomDeleteClicked(room)">{{ room.name }}</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
